UID=1000
GID=1000
JUPYTER_TOKEN=paper-local-token
GUROBI_LICENSE_FILE=./gurobi.lic
GUROBI_MAX_CONCURRENT_MODELS=2
NOTEBOOK_PATH=output/jupyter-notebook/agro-yard-paper-benchmark-and-selection.ipynb
NOTEBOOK_EXECUTION_TIMEOUT=1800

